<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>West Bengal Decision Support Tool</title>

	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/themes/grey-white.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/mainNav.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen"/>

	<!-- <link rel="icon" href="" type="image/png" />

	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/mainNav.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/style1.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/landingpagebutton.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/themes/white-indigo.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/supply.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/baseline.css') }}">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/new.css') }}"> -->
	<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
 -->
	<!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/themes/grey-white.css') }}"> -->
	<!-- <link rel="stylesheet" href="css/themes/green-white.css"> -->
	<!-- <link rel="stylesheet" href="css/themes/red-white.css"> -->
	<!-- <link rel="stylesheet" href="css/themes/grey-white.css"> -->
	<!-- <link rel="stylesheet" href="css/themes/white-indigo.css"> -->
	<!-- <link rel="stylesheet" href="css/themes/white-blue.css"> -->
	<!-- <link rel="stylesheet" href="css/themes/white-grey.css"> -->
	<!-- <link rel="stylesheet" href="css/themes/white-red.css"> -->
	<!-- <link rel="stylesheet" href="css/themes/yellow-black.css"> -->
</head>
<body>
	<!--HamBurger Icon-->
	<div class="bars" id="nav-action">
	  <span class="bar"> </span>
	</div>

	<!--Navbar Links-->
	<nav id="nav">
	  <ul>
	    <li class="shape-circle circle-one"><a href="/about">About Tool</a></li>
	    <li class="shape-circle circle-two"><a href="/statistics">General Statistics</a></li>
	    <li class="shape-circle circle-three"><a href="/scenario">Scenario Builder</a></li>
	    <li class="shape-circle circle-five"><a href="/baseline">Baseline Unit</a>
	    </li>
	  </ul>
	</nav>

	<!--Main Body Content-->
	<main>